# **************************************************************************** #
#                                                                              #
#                                                         :::      ::::::::    #
#    .gitignore                                         :+:      :+:    :+:    #
#                                                     +:+ +:+         +:+      #
#    By: tsiguenz <marvin@42.fr>                    +#+  +:+       +#+         #
#                                                 +#+#+#+#+#+   +#+            #
#    Created: 2022/02/14 21:42:22 by tsiguenz          #+#    #+#              #
#    Updated: 2022/02/16 20:00:07 by tsiguenz         ###   ########.fr        #
#                                                                              #
# **************************************************************************** #

*.[oa]
*.sw[po]
*.gch
*.nfs*
*.dSYM
*obj/
.DS_Store
a.out
push_swap
